body {
  padding: 50;
  margin: 50;
}
#map,
#plot,
body,
#pie,
html {
  display: inline-block;
      position: left;
      margin: 0px left;
      width: 500px;
      height: 500px;
      padding: 10px;
      border: none;
      border-radius: 3px;
      font-size: 15px;
      text-align: center;
      color: rgb(17, 16, 16);
      background: #bbb7b6;
      }
